html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
  }

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	min-height: 100vh;
}

#app {
	width: 75%;
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

input {
	height: 2rem;
	width: inherit;
	font-size: 1.3rem;
	padding: 0.25rem;
	position: relative;
	margin: 0 auto 25px;
}

section {
	margin-top: 5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.5rem;
}

#search {
	position: relative;
	width: 30rem;
	margin: 0 auto;
}

#suggestions {
	position: absolute;
	width: inherit;
	z-index: 1;
}

.suggestion {
	text-align: left;
	padding: 1rem;
	color: #222;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	border-width: 0.5px;
}
.suggestion:hover {
	border: 1px solid #222;
}

.suggestion-text {
	margin: 0;
}

#timeline {
	position: relative;
	/* background-color: #333333; */
	/* border: 2px solid #bbb */
}

#timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 50%;
	/* margin-left: -3px */
}

.event {
	text-align: left;
	background-color: #222;
	border-radius: 1rem;
	position: relative;
	padding: 10px 40px 30px;
	width: 40%;
}

.left {
	left: 0;
}

.right {
	left: 60%;
}

h4 {
	margin: inherit;
}

p {
	margin: inherit;
}

li {
	list-style-type: none;
	cursor: pointer;
}

@media (max-width: 639px) {
	#app {
		margin: 2rem;
	}
	section {
		margin-top: 5rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
	.suggestion{
		color: #ccc;
		background-color: #161616;
	}
	.suggestion:hover {
		border: 1px solid #bbb;
	}
	#timeline::after {
		background-color: lightslategrey;
	}
}
